---
import '@repo/styles/src/base/global.css';
import UsaBanner from '@repo/ui/src/components/UsaBanner.astro';
import Head from '@repo/ui/src/components/Head.astro';
import { getPageTitle } from '@repo/ui/src/helpers/meta';

const title = getPageTitle(Astro);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <Head title={title} />
  </head>
  <body>
    <slot name="skip-nav" />
    <UsaBanner />
    <slot />
  </body>
</html>
